 .tt{
       
        border: 1px solid black;
        border-collapse: collapse;
        width: 50%;
        height: 100%;
        padding: auto;
        margin: auto;
        text-align: center;
        
        font-size: larger;
    }


.homework{
    color: blue;
    /* background-color: yellow; */

    
}

/* #monday {
    background-color: #24B1B1;
} */
th {
    background-color: #1F6F5F;
    color:#111844;
    outline:auto;
}
td{
    background-color:#2FA084;
    outline:auto;
    padding:10px;
    
}
/* #Mon{
     background-color: #EEEEEF;
   
}

#Tue{
    background-color: #6FCF97;
}
#Wed{
    background-color:#2FA084;
}
#Thu{
    background-color: rgb(230, 72, 230);
}
#Fri{
    background-color:gold;
} */