*{
    margin: 0;
    padding: 0;
    /* border: 1px solid  black; */
}

.main1{
    display: flex;
    /* border: solid green; */
}

.q4EfqA {
    background-color: var(--iBIYpw);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 100%;
    padding-top: 8px;
    position: relative;
}

.header{
 
    height: 40px;
    width: 100%;
    background: linear-gradient(135deg, #00c4cc 15%,#1a62ff, #7d2ae8);;
    /* padding: 5px; */
}

.file{
    /* margin-top: 0.5%; */
    position: absolute;
    font-size: 18px;
    margin-left: 3%;
    margin-top: 8px;
    color: white;
}
.file-logo{
    position: absolute;
    margin-top: 5px;
    padding-left: 10px;
     color: white;
}
.resize{
    position: absolute;
    font-size: 18px;
    margin-left: 7%;
    margin-top: 0.5%;
     color: white;
}

.edit{
    position: absolute;
    font-size: 18px;
    margin-left: 14%;
    margin-top: 8px;
     color: white;
}
.edit-logo{
    position:absolute;
   margin-left: 12%;
    
    margin-top: 5px;
     color: white;

}
.save{
    position: absolute;
    margin-top: 6px;
    margin-left: 20%;
     color: white;
}


.trial{
    position: absolute;
    margin-left: 64%;
    margin-top: 2px;
    border: 1px solid white;
    padding: 10px  20px;
    padding-left: 17px;
    border-radius: 8px;
    color: white;
    
}

.trial-logo{
    position: absolute;
    margin-left: 64.3%;
    margin-top: 12px;
    color: white;
}


.profile{
    position: absolute;
    margin-left: 77%;
    width: 3%;
    margin-top: 5px;
    color: white;
}

.bar{
    position: absolute;
    margin-left: 80%;
     border: 1px solid white;
    margin-top: 5px;
    border-radius: 8px;
    padding: 0px 2px;
     color: white;

}
.comment{
    position: absolute;
    margin-left: 83%;
     border: 1px solid white;
    margin-top: 5px;
    border-radius: 8px;
    padding: 0px 2px;
    color: white;

}
.share{
    position: absolute;
    margin-left: 86%;
    margin-top: 5px;
    border-radius: 8px;
    padding: 5px 14px;
    color: black;
    background-color: white;

}
.sidetool{
    background-color: yellow;
    height: 100vh;
    width: 5%;
}


.small_sidebar{
    border: 1px solid black; 
    height: 92%;
    width :5% ; 
    background-color:#f1f3f4;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 11px;
    text-align: start;
    color: #101219b2;
     height: 100vh;
}
.w{
    padding: 11px;
    justify-items: center;
    text-align: center;
}

.sidebar{

    background-color: red;
    width:30%;
    height: 100vh;
    
    
}

.search{
    background-color: white;
    border: solid plum;
    height: 6%;
    width: 95%;
    margin-top: 10px;
    border-radius: 9px;
   
}

.plus{
    position: absolute;
    margin-left: 3px;
    margin-top: 10px;
}
.generate{
     /* position: absolute; */
    border: solid black;
    width: 50%;
    height: 5%;
    margin-top: 15px;
    border-radius: 10px;
}
.search2{
    position: absolute;
    margin-left: 13%; 
    width: 8%;
    height: 5%;
    border: solid blue;
    border-radius: 10px;
}
.center{
    border: solid black;
    height: 100vh;
    background-color: gray;
    width: 100%;
    
}
.up{
    background-color: black;
    height: 5%;
    width: 40%;
    margin-left: 25%;
    border-radius: 17px;
}
.down{
 background-color: white;
 height: 60%;
 width: 97%;
 margin-top: 8%;
 margin-left: 2%;

}