*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    /* border: solid black; */

}
.top-nav{
    border: solid red;
    display: flex;
    align-items: center;
    padding:10px 20px;
    background-color: #ffff;
 

}
.header-left{
    display: flex;
    align-items: center;
    height: 30px;
}
.logo h2{
    font-family: serif;
    font-size: 30px;
    padding-right: 10px;
    margin-left: 20px;
}
.search-bar{
    background: color blue;
    border: solid grey;
    margin-left: 10px;
    outline: none;
    font-size: 14px;
    width: 200px;
    padding: 8px 16px;
    border-radius: 20px;
    
}
.main{
    position: fixed;

    height: 100vh;
    width: 270px;
    display: grid;
    box-sizing: border-box;
    background-color:yellow;
}

.main .sidebar{
    position: fixed;
    margin-top: 30vh;
    height: 70vh;
    width: 270px;
    background-color: red;
    border:solid black ;

}

.main2{

    position: fixed;
    left: 17.5%;
    width: 82.5%;
    height: 100vh;
}

.content{
    background-color: aqua;
    height:30px;
    border: solid black;
}
.content2{
  
    background-color: purple;
    height:100%;

}