*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    border: solid black;

}

.main{
    position: relative;
    height: 35px;
    width: 100%;
    display: grid;
    background-color:yellow;
}

.main .nav{
    position: fixed;
    margin-top: 35px;
    height: 100vh;
    width: 280px;
    background-color: red;
    border:solid black ;
    box-sizing: border-box;
}


